niri
waybar
swww
wl-clipboard
fuzzel
power-profiles-daemon
wlogout
nmcli
pavucontrol
blueman
bluez
gtklock
ffmpeg
swaync
ttf-jetbrains-nerd-font
imagemagick
rofi-wayland
rofi-emoji
slurp
grim
alacritty
fastfetch
nautilus
cliphist
